.addUser {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  width: 90%;
  max-width: 1400px;
  min-height: 75vh;
  row-gap: 0.5rem;
}
.addUser__form {
  display: flex;
  border: 1px solid tomato;
}

.addUser__form__section {
  display: flex;
  flex-direction: column;
}
